{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block page_title %}{% endblock page_title %}
    </title>

    {% block additional_head %}{% endblock additional_head %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
{% include 'header.html' %}
<div data-simplebar></div>
<div class="main">
    {% block body %}{% endblock body %}
</div>

{% include 'footer.html' %}
{% block additional_scripts %}{% endblock additional_scripts %}
</body>
</html>