{% extends 'base.html' %}

{% load static %}

{% block page_title %}
    Music Player
{% endblock page_title %}

{% block body %}
    <div>

        {% for song in songs %}
            <div>
                <h3>{{ song.title }}</h3>
                <h3>{{ song.artist }}</h3>
                <p class="test">It's placeholder :)</p>
                <img src="{% static song.image_link %}" width="20%">
                <a href="{% url 'song-details' song.id %}">Song details</a>

                <audio class="fc-media" style="width: 100%;" controls>
                    <source src="{% static song.song_link %}" type="audio/mp3"/>
                </audio>
                <hr>
            </div>
        {% endfor %}

    </div>
{% endblock body %}
