.title {
    color: #21a25b;
    font-weight: bold;
    font-size: 30px;
}

a {
    text-decoration: none;
}

.item {
    color: black;
    margin-left: 40px;
}

.item:hover {
    font-weight: bold;
}

.playlist-type-btn {
    margin-left: 100px;
}
