body {
    background-image: linear-gradient(to right bottom, #e7e4e4, #c4c2c2, #a3a1a1, #838181, #646262);    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    line-height: 1.5;
}

.menu-back {
    font-size: 30px;
    text-decoration: none;
}

.menu-back i {
    color: #292424;
}