{% load static %}

<head>
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/sign_up.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Sign in</title>
</head>
<body>
    {% include 'header.html' %}

    <div class="container">
        <h1 id="title">Sign Up</h1>
        <div id="password-info">
            <p>Password:</p>
        <ul>
            <li>must contain min 8 characters</li>
            <li>can't be entirely numeric</li>
        </ul>
        </div>
        <form method="post">
            {% csrf_token %}
            <div>
                <label>{{form.username.label}}</label>
                {{form.username}}
            </div>

            <div>
                <label>{{form.password1.label}}</label>
                {{form.password1}}
            </div>

            <div>
                <label>{{form.password2.label}}</label>
                {{form.password2}}
            </div>
            <input type="submit" value="sign up" class="signup-btn">
        </form>
    </div>

    {% include 'footer.html' %}
</body>
