{% load static %}

<head>
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/sign_in.css' %}">
    <title>Sign in</title>
</head>
<body>
    {% include 'header.html' %}

    <div class="container">
        <p id="title">sign in</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="sign in" class="signin-btn">
        </form>`
    </div>

    {% include 'footer.html' %}

</body>

