{% extends 'base.html' %}

{% load static %}

{% block page_title %}
    Playlist - {{ playlist_name }}
{% endblock page_title %}

{% block additional_head %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/music2.css' %}">
{% endblock additional_head %}

{% block body %}
    <a href="{% url 'playlists' %}" class="menu-back"><i class="fa fa-arrow-left"></i></a>

    {% if songs %}
       {% include 'MusicApp/songs.html' %}
    {% else %}
        <p> Your playlist <b>{{ playlist.name }}</b> is empty</p>
    {% endif %}
{% endblock body %}
