{% extends 'base.html' %}

{% load static %}

{% block page_title %}
    Playlists
{% endblock page_title %}


{% block additional_head %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/playlists.css' %}">
{% endblock additional_head %}

{% block body %}
    <a href="{% url 'user_profile' %}" class="menu-back"><i class="fa fa-arrow-left"></i></a>
    <p id="site-title">PLAYLISTS</p>
    <form method="post">
        {% csrf_token %}

        <div class="playlist-create">
            <input class="playlist-create-input" type="text" name="name">
            <button type="submit" class="playlist-create-btn" name="create-playlist">Create</button>
        </div>

    </form>

    {% if playlists %}

        <div class="playlists">
            <div class="playlist-list">

                {% for playlist in playlists %}
                    <div class="playlist-element">
                        <a href="{{ playlist.id }}" class="playlist-item">
                            <div class="playlist-name">
                                name:
                                {{ playlist.name }}
                            </div>
                            <div class="playlist-user">
                                owner:
                                {{ playlist.owner.username }}
                            </div>
                        </a>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="playlist-delete-btn" name="delete-playlist"
                                    value="{{ playlist.id }}">
                                Delete
                            </button>
                        </form>
                    </div>

                    <br>
                {% endfor %}

            </div>
        </div>

    {% else %}
        <p> Nothing here :C</p>
    {% endif %}
{% endblock body %}
