{% extends 'base.html' %}

{% load static %}

{% block page_title %}
    Music Player
{% endblock page_title %}

{% block additional_head %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/user_profile.css' %}">
    <title>User profile</title>
{% endblock additional_head %}

{% block body %}

    <a href="{% url 'index' %}" class="menu-back"><i class="fa fa-arrow-left"></i></a>

    <div class="container">
        <a href="{% url 'playlists' %}"><i class="fa fa-music" aria-hidden="true"></i>PLAYLISTS</a>
        <a href="{% url 'favourites' %}"><i class="fa fa-heart" aria-hidden="true"></i>FAVOURITES</a>
        <a href="{% url 'user-stats' %}"><i class="fa fa-user-o" aria-hidden="true"></i>MY STATISTICS</a>
{#        only user with admin permissions have access to this route#}
        {% if request.user.is_staff %}
            <a href="{% url 'admin-stats' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i>ALL STATISTICS</a>
        {% endif %}
    </div>


{% endblock body %}

